/* The popup form - hidden by default */
.form-popup 
{ 
  position:fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  display: none;
  border: 2px solid black;
  z-index: 9;
}

/* Add styles to the form container */
.form-container 
{
  max-width: 500px;
  padding: 20px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=Comment] 
{
 width: 100%;
 padding: 15px;
 margin: 10px 0 20px 0;
 border: none;
 background: #f2f2f2;
}

/* When the inputs gt focus, do something */
.form-container input[type=text]:focus, .form-container input[type=Comment]:focus 
{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn 
{
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel 
{
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover 
{
 opacity: 1;
}

body
{
  font-family: Roboto;
}

.toto
{
  cursor:pointer;
  overflow-y:scroll;
  overflow-x:none,
  width:20%;
  height:12.5%;
}

table 
{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

td, th 
{
  border: 1px solid #4dd2ff;
  text-align: center;
  width: 60px;
  padding: 8px;
}


tr:nth-child(even) 
{
  background-color: #4dd2ff;
}

.Action_buttons
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Action_buttons button 
{
  text-align: center;
  background-color: #2d862d; 
  border: 1px solid green; 
  color: white; 
  padding: 1% 2%; 
  cursor: pointer;
  float:center;
  font-size: 100%; font-family: Roboto;
}

.Action_buttons button#Start 
{
  background-color: #006600; 
  border: 1px solid #006600; 
}

.Action_buttons button#Stop 
{	
  background-color: red; 
  border: 1px solid red; 
}

.Acction_buttons button#Pause 
{	
  background-color: orange; 
  border: 1px solid orange; 
}

.Action_buttons:after 
{
  content: "";
  clear: both;
  display: table;
}

.Action_buttons button:not(:last-child) 
{
  border-right: none; 
}

.Action_buttons button#Pause:hover:not([disabled])
{
  background-color: orange;
  border: 1px solid orange; 
  box-shadow: 0 10px 0 0 #F15A29 !important; 
  opacity: 1 !important;
}

.Action_buttons button#Stop:hover:not([disabled])
{
  background-color: red;
  border: 1px solid red; 
  box-shadow: 0 10px 0 0 #F15A29 !important; 
  opacity: 1 !important;
}

.Action_buttons button#Start:hover:not([disabled])
{
  background-color: green;
  border: 1px solid green; 
  box-shadow: 0 10px 0 0 #F15A29 !important; 
  opacity: 1 !important;
}

.Action_buttons button:hover 
{
}

.Action_buttons button:disabled 
{
  background-color: grey;
  opacity: 0.5;
  cursor: not-allowed;
  border: 1px solid grey; 
}

.Action_buttons button#Start:disabled 
{
  background-color: green;
  opacity: 0.3;
  cursor: not-allowed;
  border: 1px solid green; 
}

.Action_buttons button#Pause:disabled 
{
  background-color: orange;
  opacity: 0.5;
  cursor: not-allowed;
  border: 1px solid orange; 
}

.Action_buttons button#Stop:disabled 
{
  background-color: red;
  opacity: 0.5;
  cursor: not-allowed;
  border: 1px solid red; 
}

div[what=plot]
{
  position:relative;
  background:#00b3b3;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  width:100%;
  height:10%;
}

.test 
{
  display: none;
  text-align:center;
  position: fixed;
  z-index: 999999;
}

.test:checked + label > div 
{
  display: block;
  text-align:center;
  z-index: 999;
  position: fixed;
  /*  padding: 2em;*/
  max-width: 100%;
  height: 80%;
  width: 90%; 
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%)
  /*transform: scale(5);*/
}

div
{
  text-align:center;
}
